header {
    background-color: #5C2D73 !important;
}

.nav-link.disabled {
  pointer-events: none;
  opacity: 0.5;
  /* cursor: not-allowed; */
}


footer {
    background-color: #5C2D73;
}
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centers login + text */
    text-align: center;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  


  /* Footer GitHub link aligned right */
  footer a {
    float: right;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }